@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

header {
    display: flex;
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 300px;
    align-items: center;
    padding-top: 5px;
}

#header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-left: 750px;
    align-items: center;
}

ul {
    list-style-type: none;
}

#hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    height: 350px;
}

#hero-container {
    margin: 100px 300px;
}

#hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding-bottom: 5px;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
    padding-bottom: 5px;
}

#top-sign-up {
    background-color: #3882f6;
    border: #3882f6;
    padding:5px;
    color: white;
    width:100px;
    font-weight: bold;
    border-radius: 5px;
}

#image-placeholder {
    padding: 50px;
    background-color: grey;
    margin-top: 50px;
    color: white;
    margin-top: 100px;
    margin-right: 300px;
    width: 500px;
    height: 200px;
}

#image-placeholder p {
    text-align: center;
    vertical-align: center;
    padding-top: 30px;
}

#cards {
    display: flex;
    flex-direction: column;
    height: 350px;
}

#cards-top {
    width: 500px;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 38%;
    padding-top: 25px;
}

#cards-bottom {
    padding-top: 5px;
    width: 800px;
    margin-left:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-square {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.card-text {
    color: gray;
    font-size: 14px;
    padding-top: 10px;
}

#quote {
    background-color: #e5e7eb;
    height: 350px;
}

#quote-text {
    padding-top: 80px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

#quote-author {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 60%;;
}

#call-to-action-box{
    width: 80%;
    padding: 30px 60px;
    background-color: #3882f6;
    border-radius: 5px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

#call-to-action-title {
    color: white;
    font-weight: bold;
}

#call-to-action-text {
    font-size: 14px;
}

#bottom-sign-up {
        background-color: #3882f6;
        border: 1px solid white;
        padding:5px;
        color: white;
        width:100px;
        font-weight: bold;
        border-radius: 5px;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 80px;
}
