@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

/* div-1 */

#div-1 {
    background-color: #1f2937;
    color:#f9faf8;

}

#div-1-left-header {
    font-size: 24px;
}

#div-1-title {
    font-size: 48px;
    font-weight: 900;
}

#div-1-right {
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style: none;
}

/* div-2 */


#div-3 {
    background-color: #e5e7eb;
}

#div-3-quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937
}

#div-3-author {
    font-weight: bold;
}

#div-4-box {
    background-color: rgb(27, 85, 209);
}

footer {
    background-color: #1f2937;
}
